# machine learning
https://www.piwheels.org/simple/numpy/numpy-1.26.4-cp310-cp310-linux_aarch64.whl #numpy version less then 2 via pywheels
tflite-runtime
scikit-learn
matplotlib
seaborn

# webserver
uvicorn
fastapi

# database
sqlalchemy

# other
pyyaml
